<div class="jumbotron">
  <h1>Welcome to our mini-chat!</h1>
  <p class="lead">Please sign in via one of the social networks to start chatting</p>
  <%= link_to 'Sign in to Twitter', '/auth/twitter', class: 'btn social twitter' %>
  <%= link_to 'Sign in to Facebook', '/auth/facebook', class: 'btn social facebook' %>
</div>
