---
title: Welcome to Middleman
---

<div class="welcome">
  <p class="doc">
  <h1 align = "center">About</h1>
  Ruby Karaoke (#rubykaraoke) is a labor to bring the community together behind the microphone.  What better way to make friends and to break the ice at a conference then by singing a few songs with some people, free of judgement?  Ruby Karaoke strives to keep things fun, light, and inclusive!  Everyone is welcome to take the stage or to stay in the crowd and cheer on old friends and new.

  <%= partial "footer" %>
