<html>
<head>
  <% if message.include? "Way" %>
    <style> body { background: red; } </style>
  <% elsif message.include? "Too" %>
    <style> body { background: tomato; } </style>
  <% elsif message.include? "SECRET" %>
    <style> body { background: green; } </style>
  <% else %>
    <style> body { background: white; } </style>
  <% end %>
</head>
  <body>
    <p>
      <%= message %>
    </p>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
  </body>
</html>
